# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.
#
# If you need help with YAML syntax, here are some quick references for you:
# https://learn-the-web.algonquindesign.ca/topics/markdown-yaml-cheat-sheet/#yaml
# https://learnxinyminutes.com/docs/yaml/
#
# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
encoding: utf-8

title: SF Campaign Disclosure
# email: tyler.field@sfgov.org
description: >- # this means to ignore newlines until "baseurl:"
  Interactive tools showing San Francisco campaign fundraising and spending data by candidates and committees to promote election transparency.
baseurl: "" # the subpath of your site, e.g. /blog
url: "" # the base hostname & protocol for your site, e.g. http://example.com


# Build settings

# theme: bootstrap
# remote_theme: pages-themes/minimal@v0.2.0
# plugins:
  # - jekyll-feed
  # - jekyll-remote-theme

# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
# exclude:
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/


# collections:
#   committees:
#     output: true

defaults:
  - scope:
      path: "assets/images"
    values:
      image: true
# exclude: # further exclude committee files to speed up build time
#   - elections/2024-11-05/committees/CA*.md
# include:
#   - elections/2024-11-05/committees/CA487017.md
#   - elections/2024-11-05/committees/CA491138.md
sass:
  quiet_deps: true # https://github.com/just-the-docs/just-the-docs/issues/1541
  silence_deprecations: [import, global-builtin] # https://github.com/just-the-docs/just-the-docs/issues/1607
