services:
  site:
    build: .
    ports:
      - "4000:4000"
      - "35729:35729"
    volumes:
      - .:/site
      - bundle:/usr/local/bundle
    environment:
      JEKYLL_ENV: development

volumes:
  bundle:

