<div class="card border-0 box-shadow-contributions rounded-4 h-100 mb-3">

    <!-- Card Header -->
    <div class="card-header custom-card-header">
        <h3 id="top-contributors-{{include.link}}" class="hover-link mb-0">
            <span>
                {%- if include.title -%}
                {{ include.title }}
                {%- else -%}
                Top Contributors
                {%- endif -%}
            </span>

            <button type="button" class="icon-btn ms-2" data-bs-toggle="offcanvas" data-bs-target="#top-contributorsTT"
                aria-label="About Top Contributors">
                <i class="fa-regular fa-circle-info"></i>
            </button>

            <a href="#top-contributors-{{include.link}}" class="icon-btn ms-2 copy-anchor" aria-label="Share Link">
                <i class="fa-regular fa-link" aria-hidden="true"></i>
            </a>

        </h3>

        {%- if include.subtitle -%}
        <p class="text-secondary mb-0">{{ include.subtitle }}</p>
        {%- endif -%}
    </div>


    <!-- Card Body -->
    <div class="card-body p-3">
        <table class="table {{ include.table_class }} mb-2">
            <thead class="table-light">
                <tr>
                    <th scope="col" class="text-uppercase small">Name</th>
                    <th scope="col" class="text-uppercase small text-end">Amount</th>
                </tr>
            </thead>
            <tbody>
                {%- for contributor in include.contributors -%}
                <tr>
                    <td class="fw-medium">{{ contributor[0] }}</td>
                    <td class="currency text-end fw-semibold">{{ contributor[1] }}</td>
                </tr>
                {%- endfor -%}
            </tbody>
        </table>
        <a href="{{site.baseurl}}/elections/{{include.election}}/contributors">
            View all contributors for this election
        </a>
    </div>

</div>