<div class="offcanvas offcanvas-start" tabindex="-1" id="disclosure-statementsTT" aria-labelledby="disclosure-statementsTTLabel">
    <div class="offcanvas-header">
        <h4 class="offcanvas-title" id="disclosure-statementsTTLabel">Filings</h4>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div>
            <p>This page displays campaign finance summary information calculated using only the most recent (“Latest”) versions of FPPC Forms 460, 496, and 497 filed by this committee. The table below lists the specific campaign statements used to calculate the totals shown on this page.</p>

            <p>Campaigns may file additional disclosure statements or amendments that are not used to calculate the summary figures shown here. To view all required campaign finance filings for this committee, including older statements and other form types, visit the Ethics Commission's campaign finance statements database.</p>
            
            <p><a href="https://public.netfile.com/Pub2/Default.aspx?aid=SFO" class="btn btn-outline-primary" target="_blank" rel="noopener">
                                <i class="fa fa-external-link-alt" aria-hidden="true"></i>
                                View Statements in Database
                            </a></p>
        </div>
        <table id="filings_table" class="table caption-top">
            <thead>
                <tr>
                    <th scope="col">Filing Date</th>
                    <th scope="col">Form</th>
                    <th scope="col">Filing Period</th>
                </tr>
            </thead>
            <tbody>
                {% for filing in include.filings %}
                <tr>
                    <td>{{ filing.filing_datetime }}</td>
                    <td>
                        <a href="https://netfile.com/Connect2/api/public/image/{{ filing.filing_id }}" target="_blank">
                            {%- if filing.form_name=='FPPC497' -%}
                            FPPC Form 497 - 24-hour Contribution Report
                            {%- elsif filing.form_name=='FPPC460' -%}
                            FPPC Form 460 - Committee Campaign Statement
                            {%- elsif filing.form_name=='FPPC496' -%}
                            FPPC Form 496 - 24-hour Independent Expenditure Report
                            {%- else -%}
                            {{filing.form_name}}
                            {%- endif %}
                            ({{filing.filing_activity_type}})
                        </a>
                    </td>
                    <td>
                        {%- if filing.form_name=='FPPC460' -%}
                            <span class="text-nowrap">{{ filing.filing_startdate }}</span> - <span class="text-nowrap">{{ filing.filing_enddate }}</span>
                        {%- endif -%}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
