<nav aria-label="Navbar for Election pages" class="py-2 text-bg-septenary">
    {%- assign election = page.election -%}
    {%- assign current_pages = site.pages | where: "election", election -%}
    {%- assign candidate_pages = current_pages | where: "layout", "contest_candidate" -%}
    {%- assign bm_pages = current_pages | where: "layout", "contest_bmc" -%}
    <div class="container-md d-flex justify-content-between flex-wrap row-gap-1">
        <ol class="breadcrumb m-0">
            {% for crumb in page.breadcrumbs %}
                {% if forloop.last %}
                    <li class="breadcrumb-item active" aria-current="page">{{ crumb[0] | truncate: 30  }}</li>
                {% else %}
                    <li class="breadcrumb-item"><a class="" href="{{site.baseurl}}/{{crumb[1]}}">{{crumb[0]}}</a></li>
                {% endif %}
            {% endfor %}
        </ol>
        {%- if election != nil -%}
        <div class="mx-lg-0">
            <div class="btn-group">
                <button class="btn btn-sm btn-light btn-outline-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#allContests"
                    aria-controls="allContests">
                    <i class="fa-regular fa-sidebar-flip me-2" aria-hidden="true"></i>All Contests
                </button>
                <button class="btn btn-sm btn-light btn-outline-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#committeeList"
                    aria-controls="committeeList">
                    <i class="fa-regular fa-sidebar-flip me-2" aria-hidden="true"></i>Search Committees
                </button>
            </div>
        </div>
        {%- endif -%}
    </div>
</nav>
