<div class="card {{ include.css }} border-1 shadow-sm rounded-4 h-100">
  <div class="card-body">

    {%- assign display_title = include.title -%}

    {%- case include.title -%}

    {%- when "Unitemized Contributions" -%}
    {%- capture display_title -%}
      Unitemized contributions of less than $100 totaled
      <span class="{{ include.info_css }} fw-bold">{{ include.info }}</span>
      and represented
      <span class="{{ include.data_css }} fw-bold">{{ include.data }}</span>
      of all contributions.
    {%- endcapture -%}

    {%- when "Contributions within San Francisco" -%}
    {%- capture display_title -%}
    Contributions from
    <span class="text-nowrap">San Francisco</span>
    totaled
    <span class="{{ include.info_css }} fw-bold text-nowrap">{{ include.info }}</span>
    and represented
    <span class="{{ include.data_css }} fw-bold text-nowrap">{{ include.data }}</span>
    of all contributions.
    {%- endcapture -%}

    {%- when "Contributions within California" -%}
    {%- capture display_title -%}
    Contributions from California totaled
    <span class="{{ include.info_css }} fw-bold text-nowrap">{{ include.info }}</span>
    and represented
    <span class="{{ include.data_css }} fw-bold text-nowrap">{{ include.data }}</span>
    of all contributions.
    {%- endcapture -%}

    {%- when "Contributions from Individuals" -%}
    {%- capture display_title -%}
    Contributions from individuals totaled
    <span class="{{ include.info_css }} fw-bold text-nowrap">{{ include.info }}</span>
    and represented
    <span class="{{ include.data_css }} fw-bold text-nowrap">{{ include.data }}</span>
    of all contributions.
    {%- endcapture -%}

    {%- endcase -%}

    {%- if include.index -%}
    <p class="card-title fs-6 fw-normal mb-2" id="fact-{{ include.index }}">
      {{ display_title | strip }}
      <a class="icon link-subtle ms-1" href="#fact-{{ include.index }}" aria-label="Share Link">
        <i class="fa-regular fa-link" aria-hidden="true"></i>
      </a>
    </p>
    {%- else -%}
    <p class="card-title fs-5 fw-normal mb-2">
      {{ display_title | strip }}
    </p>
    {%- endif -%}

    {%- if include.link -%}
    <a href="{{ include.link }}" class="btn btn-primary">More Info</a>
    {%- endif -%}

  </div>
</div>