<footer class="bg-dark text-light py-3">
        <div class="container-md">
            <div class="row mx-auto">
                <div class="col-md-8">
                    <div class="row align-items-center">
                        <div class="col-2 d-none d-sm-block">
                            <img class="img-fluid rounded mx-2" style="height:6rem;"
                                src="{{ '/assets/images/sf_cseal_2022.svg' | relative_url}}" alt="The Seal of the City of San Francisco">
                        </div>
                        <div class="col-12 col-sm-10">
                            <p class="mb-0">This website is created by:<br>
                            <span class="h4">City & County of San Francisco</span><br>
                            <span class="h2">Ethics Commission</span><br>
                            <a class="link-light link-underline-opacity-50 link-underline-opacity-100-hover" href="https://sfethics.org">sfethics.org</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 my-auto">
                    <ul>
                        <li><a class="link-light link-underline-opacity-50 link-underline-opacity-100-hover" href="#">Privacy Policy</a></li>
                        <li><a class="link-light link-underline-opacity-50 link-underline-opacity-100-hover" href="#">Web Accessibility Statement</a></li>
                        <li><a class="link-light link-underline-opacity-50 link-underline-opacity-100-hover" href="#">Records Requests</a></li>
                    </ul>
                </div>
            </div>
        </div>
    
</footer>