<nav class="navbar navbar-expand-md bg-gray">
    <div class="container-fluid">
        <div class="mx-auto text-dark">This site is under development - accurate figures are not represented.</div>
    </div>
</nav>

<nav id="main-nav" class="navbar navbar-expand-md bg-body-septenary d-print-none bg-primary" data-bs-theme="dark"
    aria-label="Main Site Navbar">
    <div class="container d-flex justify-content-between align-items-center row-gap-1">
        <a rel="author" href="{{ '/' | relative_url }}" class="d-flex align-items-center">
        <img src="{{ '/assets/images/cleancircle3.svg' | relative_url }}" alt="Site logo" height="64" width="64"
            class="me-3" />
            <div class="navbar-brand d-flex flex-column lh-sm text-white">
                <span class="sf-top">San Francisco</span>
                <span class="sf-bottom">Campaign Watch</span>
            </div>
        </a>
        <button class="ms-auto navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSiteCollapse" aria-controls="navbarNav" aria-expanded="false"
            aria-label="Toggle site navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSiteCollapse">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link
                    {%- if page.title == 'About' %} active" aria-current="page{% endif -%}
                    " href="{{ '/about/' | relative_url }}">About</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Elections
                    </a>
                    <ul class="dropdown-menu dropdown-menu-light">
                        <li>
                            {% if page.election == "2025-09-16" %}
                            <!-- Current election -->
                            <button type="button" class="dropdown-item" aria-current="page"
                                onclick="window.location.href='{{ '/elections/' | relative_url }}2025-09-16/'">
                                September 16, 2025
                            </button>
                            {% else %}
                            <a class="dropdown-item" href="{{ '/elections/' | relative_url }}2025-09-16/">
                                September 16, 2025
                            </a>
                            {% endif %}
                        </li>

                        <li>
                            {% if page.election == "2024-11-05" %}
                            <!-- Current election -->
                            <button type="button" class="dropdown-item" aria-current="page"
                                onclick="window.location.href='{{ '/elections/' | relative_url }}2024-11-05/'">
                                November 5, 2024
                            </button>
                            {% else %}
                            <a class="dropdown-item" href="{{ '/elections/' | relative_url }}2024-11-05/">
                                November 5, 2024
                            </a>
                            {% endif %}
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>