<div class="offcanvas offcanvas-end" tabindex="-1" id="electedOffices" aria-labelledby="electedOfficesLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="electedOfficesLabel"><i class="fa-regular fa-sidebar-flip me-2"></i>Elected Offices</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at dolor a nisi accumsan egestas. Suspendisse facilisis risus a felis tincidunt, sit amet sollicitudin lectus porta. Integer porta faucibus est et gravida.
        </div>
        <div class="mt-3">
            <ul class="list-group">
                {%- assign candidate_pages = current_pages | where: "layout", "contest_candidate" -%}
                {%- for p in candidate_pages -%}
                <li class="list-group-item">
                    <a href="{{ p.url | relative_url }}">{{ p.title | escape }} </a>
                </li>
                {%- endfor -%}
            </ul>
        </div>
    </div>
</div>
<div class="offcanvas offcanvas-end" tabindex="-1" id="ballotMeasures" aria-labelledby="ballotMeasuresLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="ballotMeasuresLabel"><i class="fa-regular fa-sidebar-flip me-2"></i>Ballot Measures</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at dolor a nisi accumsan egestas. Suspendisse facilisis risus a felis tincidunt, sit amet sollicitudin lectus porta. Integer porta faucibus est et gravida.
        </div>
        <div class="mt-3">
            <ul class="list-group">
                {%- assign bm_pages = current_pages | where: "layout", "contest_bmc" -%}
                {%- for p in bm_pages -%}
                <li class="list-group-item">
                    <a href="{{ p.url | relative_url }}">{{ p.title | escape }}</a>
                </li>
                {%- endfor -%}
            </ul>
        </div>
    </div>
</div>
<div class="offcanvas offcanvas-start" tabindex="-1" id="about-candidateTT" aria-labelledby="about-candidateTTLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="ballotMeasuresLabel"><i class="fa-regular fa-sidebar-flip me-2"></i>About candidate committee</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div>
            <p class="text-secondary">
                        State and local laws require candidates to publicly report the financial activity of their
                        campaign committees,
                        including the names of individuals who contribute more than set thresholds in a calendar year
                        and how funds
                        are spent. Candidates in San Francisco's Public Financing Program may receive matching City
                        funds for
                        contributions from local residents. Third-party committees may raise and spend money to support
                        or oppose a
                        candidate, so long as their activity is not coordinated with the candidate's campaign.
            </p>
            <h5>Committee details</h5>
            <div class="d-flex justify-content-between flex-wrap mb-3 p-3 bg-light rounded-3">
                <div>
                    <small class="text-secondary d-block">Committee Name</small>
                    <span class="fw-semibold">{{page.filer_name}}</span>
                </div>
                <div>
                    <small class="text-secondary d-block">FPPC ID</small>
                    <span class="fw-semibold">{{page.filer_id}}</span>
                </div>
            </div>
            {%- if page.pubfi.participant == 'True' -%}
                <div class="d-flex justify-content-between flex-wrap mb-3 p-3 bg-light rounded-3">
                    <div>
                        <small class="text-secondary d-block">Public Funds Received To Date</small>
                        <span class="fw-semibold currency">{{ page.pubfi.total }}</span>
                    </div>
                </div>
            {%- endif -%}

            <div class="d-flex justify-content-between flex-wrap mb-3 p-3 bg-light rounded-3">
                <div>
                    {%- if page.jurisdiction == "sf" -%}
                    <span>Data on this page is derived from the committee's electronic filings with the San Francisco Ethics Commission.</span>
                    {%- elsif page.jurisdiction == "ca" -%}
                    <span>
                        This committee files with the California Secretary of State. Data on this page is derived from electronic filings with the San Francisco Ethics Commission and a nightly download of data from the Secretary of State's office.
                    </span>
                    {%- endif -%}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="offcanvas offcanvas-start" tabindex="-1" id="cmte-detailsTT" aria-labelledby="cmte-detailsTTLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="ballotMeasuresLabel"><i class="fa-regular fa-sidebar-flip me-2"></i>Committee Details</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div>
        </div>
    </div>
</div>
<div class="offcanvas offcanvas-start" tabindex="-1" id="contributorsTT" aria-labelledby="contributorsTTLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="contributorsTTLabel">About the contributors table</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div>
            <p>Contributors are individuals who have made contributions to the candidate's campaign. The table lists
                contributors by their first and last names, along with the total amount they have contributed.</p>
            <p>Note: The data in this table is based on the most recent filings and may not reflect the most current
                information.</p>
        </div>
    </div>
</div>
<div class="offcanvas offcanvas-start" tabindex="-1" id="expendituresTT" aria-labelledby="expendituresTTLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="expendituresTTLabel">About the expenditures table</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div>
            <p>Expenditures are the amounts spent by the candidate's campaign. The table lists expenditures by their
                type and amount.</p>
            <p>Note: The data in this table is based on the most recent filings and may not reflect the most current
                information.</p>
        </div>
    </div>
</div>
<div class="offcanvas offcanvas-start" tabindex="-1" id="candidate-committeesTT" aria-labelledby="candidate-committeesTTLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="candidate-committeesTTLabel">Candidate Controlled Committees</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div>
            <p>Candidate Controlled Committees are a candidate's primary fundraising and expense-making entity.</p>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at dolor a nisi accumsan egestas. Suspendisse facilisis risus a felis tincidunt, sit amet sollicitudin lectus porta. Integer porta faucibus est et gravida. </p>
            <p>Praesent efficitur rutrum urna, ut viverra purus imperdiet at. Sed elit eros, ultricies ac consequat ac, feugiat et ante. Ut et lectus et libero ullamcorper suscipit tempor a lectus. Nulla risus ligula, pharetra quis pretium at, convallis eget nunc. Donec at metus urna. Sed sollicitudin tortor massa. </p>
            <p>Sed augue tortor, facilisis nec elit sit amet, ultrices eleifend purus. Nullam eu odio facilisis, aliquet lorem sed, pulvinar eros. Donec in sollicitudin leo. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. </p>

        </div>
    </div>
</div>
<div class="offcanvas offcanvas-start" tabindex="-1" id="candidate-ie-committeesTT" aria-labelledby="candidate-ie-committeesTTLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="candidate-ie-committeesTTLabel">Third Party Committees</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div>
            <p>Third Party Committees are entities formed to support or oppose a candidate but are independent of the candidate.</p>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at dolor a nisi accumsan egestas. Suspendisse facilisis risus a felis tincidunt, sit amet sollicitudin lectus porta. Integer porta faucibus est et gravida. </p>
            <p>Praesent efficitur rutrum urna, ut viverra purus imperdiet at. Sed elit eros, ultricies ac consequat ac, feugiat et ante. Ut et lectus et libero ullamcorper suscipit tempor a lectus. Nulla risus ligula, pharetra quis pretium at, convallis eget nunc. Donec at metus urna. Sed sollicitudin tortor massa. </p>
            <p>Sed augue tortor, facilisis nec elit sit amet, ultrices eleifend purus. Nullam eu odio facilisis, aliquet lorem sed, pulvinar eros. Donec in sollicitudin leo. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. </p>
        </div>
    </div>
</div>
<div class="offcanvas offcanvas-start" tabindex="-1" id="ballot-measure-committeesTT" aria-labelledby="ballot-measure-committeesTTLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="ballot-measure-committeesTTLabel">Ballot Measure Committees</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div>
            <p>Ballot Measure Committees are primarily formed to support or oppose a specific ballot measure.</p>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at dolor a nisi accumsan egestas. Suspendisse facilisis risus a felis tincidunt, sit amet sollicitudin lectus porta. Integer porta faucibus est et gravida. </p>
            <p>Praesent efficitur rutrum urna, ut viverra purus imperdiet at. Sed elit eros, ultricies ac consequat ac, feugiat et ante. Ut et lectus et libero ullamcorper suscipit tempor a lectus. Nulla risus ligula, pharetra quis pretium at, convallis eget nunc. Donec at metus urna. Sed sollicitudin tortor massa. </p>
            <p>Sed augue tortor, facilisis nec elit sit amet, ultrices eleifend purus. Nullam eu odio facilisis, aliquet lorem sed, pulvinar eros. Donec in sollicitudin leo. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. </p>
        </div>
    </div>
</div>
<div class="offcanvas offcanvas-start" tabindex="-1" id="ballot-measure-multicommitteesTT" aria-labelledby="ballot-measure-multicommitteesTTLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="ballot-measure-multicommitteesTTLabel">Multi-Ballot Measure Committees</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div>
            <p>"Multi-Ballot Measure" Committees are  primarily formed to support or oppose multiple ballot measures. </p>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at dolor a nisi accumsan egestas. Suspendisse facilisis risus a felis tincidunt, sit amet sollicitudin lectus porta. Integer porta faucibus est et gravida. </p>
            <p>Praesent efficitur rutrum urna, ut viverra purus imperdiet at. Sed elit eros, ultricies ac consequat ac, feugiat et ante. Ut et lectus et libero ullamcorper suscipit tempor a lectus. Nulla risus ligula, pharetra quis pretium at, convallis eget nunc. Donec at metus urna. Sed sollicitudin tortor massa. </p>
            <p>Sed augue tortor, facilisis nec elit sit amet, ultrices eleifend purus. Nullam eu odio facilisis, aliquet lorem sed, pulvinar eros. Donec in sollicitudin leo. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. </p>
        </div>
    </div>
</div>

<div class="offcanvas offcanvas-start" tabindex="-1" id="top-contributorsTT" aria-labelledby="top-contributorsTTLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="top-contributorsTTLabel">Top Contributors</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div>
            <p>Top Contributors are scoped within the page. For an election, the top contributors include all contributors to primarily formed committees within the election.</p>
            <p>Visit the Contributors page for an election to search contributors across committees and see all committees within an election that a contributor has given to.</p>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at dolor a nisi accumsan egestas. Suspendisse facilisis risus a felis tincidunt, sit amet sollicitudin lectus porta. Integer porta faucibus est et gravida. </p>
            <p>Praesent efficitur rutrum urna, ut viverra purus imperdiet at. Sed elit eros, ultricies ac consequat ac, feugiat et ante. Ut et lectus et libero ullamcorper suscipit tempor a lectus. Nulla risus ligula, pharetra quis pretium at, convallis eget nunc. Donec at metus urna. Sed sollicitudin tortor massa. </p>
            <p>Sed augue tortor, facilisis nec elit sit amet, ultrices eleifend purus. Nullam eu odio facilisis, aliquet lorem sed, pulvinar eros. Donec in sollicitudin leo. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. </p>
        </div>
    </div>
</div>

<div class="offcanvas offcanvas-start" tabindex="-1" id="ie-supportTT" aria-labelledby="ie-supportTTLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="ie-supportTTLabel">Third Party Support</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at dolor a nisi accumsan egestas. Suspendisse facilisis risus a felis tincidunt, sit amet sollicitudin lectus porta. Integer porta faucibus est et gravida. </p>
            <p>Praesent efficitur rutrum urna, ut viverra purus imperdiet at. Sed elit eros, ultricies ac consequat ac, feugiat et ante. Ut et lectus et libero ullamcorper suscipit tempor a lectus. Nulla risus ligula, pharetra quis pretium at, convallis eget nunc. Donec at metus urna. Sed sollicitudin tortor massa. </p>
            <p>Sed augue tortor, facilisis nec elit sit amet, ultrices eleifend purus. Nullam eu odio facilisis, aliquet lorem sed, pulvinar eros. Donec in sollicitudin leo. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. </p>
        </div>
    </div>
</div>

<div class="offcanvas offcanvas-start" tabindex="-1" id="ie-opposeTT" aria-labelledby="ie-opposeTTLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="ie-opposeTTLabel">Third Party Opposition</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at dolor a nisi accumsan egestas. Suspendisse facilisis risus a felis tincidunt, sit amet sollicitudin lectus porta. Integer porta faucibus est et gravida. </p>
            <p>Praesent efficitur rutrum urna, ut viverra purus imperdiet at. Sed elit eros, ultricies ac consequat ac, feugiat et ante. Ut et lectus et libero ullamcorper suscipit tempor a lectus. Nulla risus ligula, pharetra quis pretium at, convallis eget nunc. Donec at metus urna. Sed sollicitudin tortor massa. </p>
            <p>Sed augue tortor, facilisis nec elit sit amet, ultrices eleifend purus. Nullam eu odio facilisis, aliquet lorem sed, pulvinar eros. Donec in sollicitudin leo. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. </p>
        </div>
    </div>
</div>

<div class="offcanvas offcanvas-start" tabindex="-1" id="ie-committeesTT" aria-labelledby="ie-committeesTTLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="ie-committeesTTLabel">Independent Expenditure Committees</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at dolor a nisi accumsan egestas. Suspendisse facilisis risus a felis tincidunt, sit amet sollicitudin lectus porta. Integer porta faucibus est et gravida. </p>
            <p>Praesent efficitur rutrum urna, ut viverra purus imperdiet at. Sed elit eros, ultricies ac consequat ac, feugiat et ante. Ut et lectus et libero ullamcorper suscipit tempor a lectus. Nulla risus ligula, pharetra quis pretium at, convallis eget nunc. Donec at metus urna. Sed sollicitudin tortor massa. </p>
            <p>Sed augue tortor, facilisis nec elit sit amet, ultrices eleifend purus. Nullam eu odio facilisis, aliquet lorem sed, pulvinar eros. Donec in sollicitudin leo. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. </p>
        </div>
    </div>
</div>

<div class="offcanvas offcanvas-start" tabindex="-1" id="summary-totalsTT" aria-labelledby="summary-totalsTTLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="summary-totalsTTLabel">Summary Totals</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at dolor a nisi accumsan egestas. Suspendisse facilisis risus a felis tincidunt, sit amet sollicitudin lectus porta. Integer porta faucibus est et gravida. </p>
            <p>Praesent efficitur rutrum urna, ut viverra purus imperdiet at. Sed elit eros, ultricies ac consequat ac, feugiat et ante. Ut et lectus et libero ullamcorper suscipit tempor a lectus. Nulla risus ligula, pharetra quis pretium at, convallis eget nunc. Donec at metus urna. Sed sollicitudin tortor massa. </p>
            <p>Sed augue tortor, facilisis nec elit sit amet, ultrices eleifend purus. Nullam eu odio facilisis, aliquet lorem sed, pulvinar eros. Donec in sollicitudin leo. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. </p>
        </div>
    </div>
</div>

<div class="offcanvas offcanvas-start" tabindex="-1" id="ie-measuresTT" aria-labelledby="ie-measuresTTLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="ie-measuresTTLabel">Independent Expenditures Regarding Ballot Measures</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div>
            <p>Data comes from FPPC496</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at dolor a nisi accumsan egestas. Suspendisse facilisis risus a felis tincidunt, sit amet sollicitudin lectus porta. Integer porta faucibus est et gravida. </p>
            <p>Praesent efficitur rutrum urna, ut viverra purus imperdiet at. Sed elit eros, ultricies ac consequat ac, feugiat et ante. Ut et lectus et libero ullamcorper suscipit tempor a lectus. Nulla risus ligula, pharetra quis pretium at, convallis eget nunc. Donec at metus urna. Sed sollicitudin tortor massa. </p>
            <p>Sed augue tortor, facilisis nec elit sit amet, ultrices eleifend purus. Nullam eu odio facilisis, aliquet lorem sed, pulvinar eros. Donec in sollicitudin leo. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. </p>
        </div>
    </div>
</div>

<div class="offcanvas offcanvas-start" tabindex="-1" id="ie-candidatesTT" aria-labelledby="ie-candidatesTTLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="ie-candidatesTTLabel">Independent Expenditures Regarding Candidates</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div>
            <p>Data comes from FPPC496</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at dolor a nisi accumsan egestas. Suspendisse facilisis risus a felis tincidunt, sit amet sollicitudin lectus porta. Integer porta faucibus est et gravida. </p>
            <p>Praesent efficitur rutrum urna, ut viverra purus imperdiet at. Sed elit eros, ultricies ac consequat ac, feugiat et ante. Ut et lectus et libero ullamcorper suscipit tempor a lectus. Nulla risus ligula, pharetra quis pretium at, convallis eget nunc. Donec at metus urna. Sed sollicitudin tortor massa. </p>
            <p>Sed augue tortor, facilisis nec elit sit amet, ultrices eleifend purus. Nullam eu odio facilisis, aliquet lorem sed, pulvinar eros. Donec in sollicitudin leo. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. </p>
        </div>
    </div>
</div>

<div class="offcanvas offcanvas-start" tabindex="-1" id="f497p2TT" aria-labelledby="f497p2TTLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="f497p2TTLabel">Late Period Contributions Made</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div>
            <p>Data comes from FPPC497 P2.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at dolor a nisi accumsan egestas. Suspendisse facilisis risus a felis tincidunt, sit amet sollicitudin lectus porta. Integer porta faucibus est et gravida. </p>
            <p>Praesent efficitur rutrum urna, ut viverra purus imperdiet at. Sed elit eros, ultricies ac consequat ac, feugiat et ante. Ut et lectus et libero ullamcorper suscipit tempor a lectus. Nulla risus ligula, pharetra quis pretium at, convallis eget nunc. Donec at metus urna. Sed sollicitudin tortor massa. </p>
            <p>Sed augue tortor, facilisis nec elit sit amet, ultrices eleifend purus. Nullam eu odio facilisis, aliquet lorem sed, pulvinar eros. Donec in sollicitudin leo. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. </p>
        </div>
    </div>
</div>

<div class="offcanvas offcanvas-start" tabindex="-1" id="schedule-dTT" aria-labelledby="schedule-dTTLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="schedule-dTTLabel">Expenditures Supporting/Opposing Other Candidates, Measures and Committees</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div>
            <p>Data comes from FPPC460 Schedule D.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at dolor a nisi accumsan egestas. Suspendisse facilisis risus a felis tincidunt, sit amet sollicitudin lectus porta. Integer porta faucibus est et gravida. </p>
            <p>Praesent efficitur rutrum urna, ut viverra purus imperdiet at. Sed elit eros, ultricies ac consequat ac, feugiat et ante. Ut et lectus et libero ullamcorper suscipit tempor a lectus. Nulla risus ligula, pharetra quis pretium at, convallis eget nunc. Donec at metus urna. Sed sollicitudin tortor massa. </p>
            <p>Sed augue tortor, facilisis nec elit sit amet, ultrices eleifend purus. Nullam eu odio facilisis, aliquet lorem sed, pulvinar eros. Donec in sollicitudin leo. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. </p>
        </div>
    </div>
</div>


