---
layout: default
electionnav: true
---
<div class="border-bottom border-1 border-tertiary-subtle">
    <div class="container">
        <div class="row">
            <div class="d-flex flex-column flex-md-row align-items-md-end justify-content-between gap-3 mb-3 mt-3">
                <div class="flex-grow-1">
                    <h1 class="mb-1">
                        {% if page.candidate_name%}{{ page.candidate_name }}
                        {% else %}{{ page.filer_name }}
                        {% endif %}
                    </h1>
                    <div class="mb-0 d-flex gap-1 flex-wrap">
                        <span class="badge bg-tertiary text-light px-3 py-1 rounded-pill">
                            {% if page.candidate_name%}Candidate for {{ page.breadcrumbs[1][0] }}
                            {% else %}Candidate Committee
                            {% endif %}
                        </span>
                        {%- if page.pubfi.participant == 'True' -%}
                        {% assign col-class-totals = "col-lg-4" %}
                        <span class="badge rounded-pill bg-dark border border-dark">
                            Publicly Financed Candidate
                        </span>
                        {%- else -%}
                        {% assign col-class-totals = "col-lg-6" %}
                        {%- endif -%}
                    </div>
                </div>
                <div class="d-flex gap-2 flex-shrink-0">
                    <button data-bs-toggle="offcanvas" data-bs-target="#about-candidateTT"
                        class="btn btn-outline-tertiary" href="#">
                        <i class="fa-regular fa-circle-info" aria-hidden="true"></i>
                        About This Committee
                    </button>
                    <button data-bs-toggle="offcanvas" data-bs-target="#disclosure-statementsTT"
                        class="btn btn-outline-tertiary" href="#">
                        <i class="fa-regular fa-file-contract" aria-hidden="true"></i>
                        Disclosure Statements
                    </button>
                    {% include share.html btn_class="btn-outline-tertiary" %}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Cards: Contributions & Expenses -->
<div class="container my-4" aria-label="Campaign finance summary">
    <div class="row g-4">
        <h2 class="mb-0">
            Summary Totals
            <button type="button" class="icon-btn ms-2" data-bs-toggle="offcanvas" data-bs-target="#summary-totalsTT"
                aria-label="Campaign finance summary">
                <i class="fa-regular fa-circle-info"></i>
            </button>
        </h2>

        <p class="mb-0 mt-1">
            Includes committee activity disclosed between <span class="formatted-date">{{page.dates[0]}}</span>
            and <span class="formatted-date">{{page.dates[1]}}</span>.
        </p>
        <!-- Total Contributions -->
        <div class="{{col-class-totals}}">
            <div class="card border-0 shadow-sm rounded-4 h-100">
                <div class="card-body p-4">
                    <div class="d-flex flex-wrap row-gap-2 align-items-start justify-content-between mb-3">
                        <div class="d-flex align-items-center gap-2">
                            <h3 class="mb-0"><i class="fa-solid fa-hand-holding-dollar" aria-hidden="true"></i> Total
                                Contributions</h3>
                        </div>
                    </div>
                    <span class="display-6 fw-semibold text-contributions currency"
                        aria-label="Total contributions amount">
                        {{page.totals[0]}}
                    </span>
                </div>
            </div>
        </div>
        <!-- Total Expenses -->
        <div class="{{col-class-totals}}">
            <div class="card border-0 shadow-sm rounded-4 h-100">
                <div class="card-body p-4">
                    <div class="d-flex align-items-center gap-2 mb-3">
                        <h3 class="mb-0"><i class="fa-solid fa-money-check" aria-hidden="true"></i> Total Expenditures
                        </h3>
                    </div>
                    <span class="display-6 fw-semibold text-expenditures currency" aria-label="Total expenses amount">
                        {{page.totals[1]}}
                    </span>
                </div>
            </div>
        </div>
        {%- if page.pubfi.participant == 'True' -%}
        <!-- Total pubfi if any -->
        <div class="{{col-class-totals}}">
            <div class="card border-0 shadow-sm rounded-4 h-100">
                <div class="card-body p-4">
                    <div class="d-flex align-items-center gap-2 mb-3">
                        <h3 class="mb-0"><i class="fa-regular fa-money-bill" aria-hidden="true"></i> Public Funds
                            Received</h3>
                    </div>
                    <span class="display-6 fw-semibold text-dark currency" aria-label="Total expenses amount">
                        {{ page.pubfi.total }}
                    </span>
                </div>
            </div>
        </div>
        {%- endif -%}

    </div>
</div>
<!-- Factoids -->
{% if page.factoids %}
<div class="container my-5" aria-label="Contributions Overview">
    <div class="row g-4">
        <div class="col-12">
            <div class="card border-0 box-shadow-contributions rounded-4">

                <!-- Card Header -->
                <div class="card-header custom-card-header">
                    <h3 id="contributions-overview" class="hover-link mb-0">
                        <span>Contributions Overview</span>

                        <button type="button" class="icon-btn ms-2" data-bs-toggle="offcanvas"
                            data-bs-target="#contributionsOverviewTT" aria-label="About Contributions Overview">
                            <i class="fa-regular fa-circle-info"></i>
                        </button>

                        <a href="#contributions-overview" class="icon-btn ms-2" aria-label="Share Link">
                            <i class="fa-regular fa-link" aria-hidden="true"></i>
                        </a>
                    </h3>
                </div>

                <!-- Card Body -->
                <div class="card-body">
                    <div class="factoids-row-wrapper position-relative" role="region"
                        aria-labelledby="contributions-overview">

                        <!-- Left arrow (mobile/tablet only) -->
                        <button class="scroll-btn scroll-btn-left btn btn-light shadow-sm d-lg-none" type="button"
                            aria-label="Scroll contributions overview left" aria-controls="factoidsScroller">
                            <i class="fa-solid fa-chevron-left" aria-hidden="true"></i>
                        </button>

                        <!-- Scroller -->
                        <div id="factoidsScroller" class="row g-4 factoids-row" tabindex="0">
                            {% for factoid in page.factoids %}
                            <div class="col-12 col-sm-6 col-lg-3">
                                {%- include factoid.html
                                index=forloop.index
                                title=factoid.title
                                about=factoid.about
                                data=factoid.data
                                data_css=factoid.data_classes
                                info=factoid.info
                                info_css=factoid.info_classes
                                -%}
                            </div>
                            {% endfor %}
                        </div>

                        <!-- Right arrow (mobile/tablet only) -->
                        <button class="scroll-btn scroll-btn-right btn btn-light shadow-sm d-lg-none" type="button"
                            aria-label="Scroll contributions overview right" aria-controls="factoidsScroller">
                            <i class="fa-solid fa-chevron-right" aria-hidden="true"></i>
                        </button>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
{% endif %}
<!-- Contributors + Expenditures Datatables -->
<div class="container my-5 h-100">
    <h2>Activity Details</h2>
    <div class="row g-4">
        <!-- Contributors -->
        <div class="col-lg-6 cm-contributors search-box h-100">
            <div class="card border-0 box-shadow-contributions rounded-4 h-100">
                <div class="card-header custom-card-header">
                    <h3 id="contributors" class="hover-link mb-0">
                        <span class="">Contributors</span>

                        <button type="button" class="icon-btn ms-2" data-bs-toggle="offcanvas"
                            data-bs-target="#contributorsTT" aria-label="About Contributors">
                            <i class="fa-regular fa-circle-info"></i>
                        </button>

                        <a href="#contributors" class="icon-btn ms-2" aria-label="Share Link">
                            <i class="fa-regular fa-link" aria-hidden="true"></i>
                        </a>

                    </h3>
                </div>

                <div class="card-body p-3 p-sm-4">

                    <table id="contributors_table" class="table">
                        <thead class="table-light">
                            <tr>
                                <th class="text-uppercase small">First Name</th>
                                <th class="text-uppercase small">Last Name</th>
                                <th class="text-uppercase small text-end">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for contributor in page.contributors %}
                            <tr>
                                <td class="fw-medium">{{ contributor[0] }}</td>
                                <td class="fw-medium">
                                    {%- if contributor[2] != "" -%}
                                    <a
                                        href="{{site.baseurl}}/elections/{{page.election}}/committees/CA{{contributor[2]}}.html">
                                        {{ contributor[1] }}
                                    </a>
                                    {%- else -%}
                                    {{ contributor[1] }}
                                    {%- endif -%}
                                </td>
                                <td class="text-end fw-semibold">{{ contributor[3] }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                </div>

            </div>
        </div>
        <!-- Expenditures -->
        <div class="col-lg-6 cm-expenditures search-box h-100">
            <div class="card border-0 box-shadow-expenditures rounded-4 h-100">

                <div class="card-header custom-card-header">
                    <h3 id="expenditures" class="hover-link mb-0">
                        <span class="">Expenditures</span>

                        <button type="button" class="icon-btn ms-2" data-bs-toggle="offcanvas"
                            data-bs-target="#expendituresTT" aria-label="About Expenditures">
                            <i class="fa-regular fa-circle-info"></i>
                        </button>

                        <a href="#expenditures" class="icon-btn ms-2" aria-label="Share Link">
                            <i class="fa-regular fa-link" aria-hidden="true"></i>
                        </a>

                    </h3>
                </div>

                <div class="card-body p-3 p-sm-4">

                    <table id="expenditures_table" class="table">
                        <thead class="table-light">
                            <tr>
                                <th class="text-uppercase small">Category</th>
                                <th class="text-uppercase small text-end">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for exp in page.expenditures %}
                            <tr>
                                <td>{{ exp[0] }}</td>
                                <td class="text-end fw-semibold">{{ exp[1] }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                </div>

            </div>
        </div>
        <!-- Loans received-->
        {%- if page.loans_received -%}
        <div class="col-lg-6 cm-loans h-100">
            <div class="card border-0 box-shadow-contributions rounded-4 h-100">
                <div class="card-header custom-card-header">
                    <h3 id="loans_received" class="hover-link mb-0">
                        <span class="">Loans Received</span>

                        <button type="button" class="icon-btn ms-2" data-bs-toggle="offcanvas" data-bs-target="#loansTT"
                            aria-label="About Loans Received">
                            <i class="fa-regular fa-circle-info"></i>
                        </button>

                        <a href="#loans_received" class="icon-btn ms-2" aria-label="Share Link">
                            <i class="fa-regular fa-link" aria-hidden="true"></i>
                        </a>

                    </h3>
                </div>

                <div class="card-body p-3">

                    <table id="loans_received_table" class="table">
                        <thead class="table-light">
                            <tr>
                                <th class="text-uppercase small">Lendor</th>
                                <th class="text-uppercase small">Total</th>
                                <th class="text-uppercase small">Paid</th>
                                <th class="text-uppercase small">Forgiven</th>
                                <th class="text-uppercase small">Outstanding</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for lendor in page.loans_received %}
                            <tr>
                                <td class="fw-medium">{{ lendor.fullname }}</td>
                                <td class="fw-semibold">{{ lendor.loan_amt1 }}</td>
                                <td class="fw-semibold">{{ lendor.loan_amt5 }}</td>
                                <td class="fw-semibold">{{ lendor.loan_amt6 }}</td>
                                <td class="text-end fw-semibold">
                                    {{ lendor.loan_amt1 | minus: lendor.loan_amt5 | minus: lendor.loan_amt6 }}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
        {%- endif %}

    </div>
</div>

<!-- IEs -->
<div class="container" aria-label="Independent Expenditures">
    <div class="row">

        {% if page.ie_measures -%}
        <div class="col-12 h-100">
            <div class="card border-0 box-shadow-expenditures rounded-4 h-100">
                <div class="card-header d-flex align-items-center justify-content-between custom-card-header">
                    <h3 id="ie-measures" class="hover-link mb-0">
                        <span class="">Independent Expenditures Regarding Ballot Measures</span>

                        <button type="button" class="icon-btn ms-2" data-bs-toggle="offcanvas"
                            data-bs-target="#ie-measuresTT"
                            aria-label="About Independent Expenditures Regarding Ballot Measures">
                            <i class="fa-regular fa-circle-info"></i>
                        </button>

                        <a href="#ie-measures" class="icon-btn ms-2" aria-label="Share Link">
                            <i class="fa-regular fa-link" aria-hidden="true"></i>
                        </a>

                    </h3>
                </div>

                <div class="card-body">
                    <table class="table caption-top dtify mb-0" id="ie-measures_table">
                        <thead>
                            <tr>
                                <th scope="col">Measure</th>
                                <th scope="col">Position</th>
                                <th scope="col">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for ie in page.ie_measures %}
                            <tr>
                                <td>{{ ie.contest }}</td>
                                <td>{{ ie.position }}</td>
                                <td class="currency">{{ ie.total }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="mt-5"></div>
        {%- endif %}

        {%- if page.ie_candidates -%}
        <div class="col-12">
            <div class="card border-0 box-shadow-expenditures rounded-4 h-100">
                <div class="card-header d-flex align-items-center justify-content-between custom-card-header">
                    <h3 id="ie-candidates" class="hover-link mb-0">
                        <span class="">Independent Expenditures Regarding Candidates</span>

                        <button type="button" class="icon-btn ms-2" data-bs-toggle="offcanvas"
                            data-bs-target="#ie-candidatesTT"
                            aria-label="About Independent Expenditures Regarding Candidates">
                            <i class="fa-regular fa-circle-info"></i>
                        </button>

                        <a href="#ie-candidates" class="icon-btn ms-2" aria-label="Share Link">
                            <i class="fa-regular fa-link" aria-hidden="true"></i>
                        </a>

                    </h3>
                </div>

                <div class="card-body">
                    <table class="table caption-top dtify mb-0" id="ie-candidates_table">
                        <thead>
                            <tr>
                                <th scope="col">Contest</th>
                                <th scope="col">Candidate</th>
                                <th scope="col">Position</th>
                                <th scope="col">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for ie in page.ie_candidates %}
                            <tr>
                                <td>{{ ie.contest }}</td>
                                <td>{{ ie.candidate_name }}</td>
                                <td>{{ ie.position }}</td>
                                <td class="currency">{{ ie.total }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="mt-5"></div>
        {%- endif %}

        {%- if page.F497P2 -%}
        <div class="col-12">
            <div class="card border-0 box-shadow-expenditures rounded-4 h-100">
                <div class="card-header d-flex align-items-center justify-content-between custom-card-header">
                    <h3 id="f497p2" class="hover-link mb-0">
                        <span class="">Late Period Contributions Made</span>

                        <button type="button" class="icon-btn ms-2" data-bs-toggle="offcanvas"
                            data-bs-target="#f497p2TT" aria-label="About Late Period Contributions Made">
                            <i class="fa-regular fa-circle-info"></i>
                        </button>

                        <a href="#f497p2" class="icon-btn ms-2" aria-label="Share Link">
                            <i class="fa-regular fa-link" aria-hidden="true"></i>
                        </a>

                    </h3>
                </div>

                <div class="card-body">
                    <table class="table caption-top dt_f497p2 mb-0" id="f497p2_table">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Position</th>
                                <th scope="col">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for x in page.F497P2 %}
                            <tr>
                                <td>
                                    {%- if x.tx_cmteid -%}
                                    <a
                                        href="{{site.baseurl}}/elections/{{page.election}}/committees/CA{{x.tx_cmteid}}.html">{{
                                        x.name }}</a>
                                    {%- else -%}
                                    {{ x.name }}
                                    {%- endif -%}
                                </td>
                                <td>{{ x.position }}</td>
                                <td class="currency">{{ x.total }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="mt-5"></div>
        {%- endif %}

        {%- if page.ies -%}
        <div class="col-12">
            <div class="card border-0 box-shadow-expenditures rounded-4 h-100">
                <div class="card-header d-flex align-items-center justify-content-between custom-card-header">
                    <h3 id="schedule-d" class="hover-link mb-0">
                        <span class="">Expenditures Supporting/Opposing Other Candidates, Measures and Committees</span>

                        <button type="button" class="icon-btn ms-2" data-bs-toggle="offcanvas"
                            data-bs-target="#schedule-dTT"
                            aria-label="About Expenditures Supporting/Opposing Other Candidates, Measures and Committees">
                            <i class="fa-regular fa-circle-info"></i>
                        </button>

                        <a href="#schedule-d" class="icon-btn ms-2" aria-label="Share Link">
                            <i class="fa-regular fa-link" aria-hidden="true"></i>
                        </a>

                    </h3>
                </div>

                <div class="card-body pt-0">
                    <table class="table caption-top dtify mb-0" id="schedule-d_table">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Payment Type</th>
                                <th scope="col">Position</th>
                                <th scope="col">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for x in page.ies %}
                            <tr>
                                <td>
                                    {%- if x.tx_cmteid -%}
                                    <a
                                        href="{{site.baseurl}}/elections/{{page.election}}/committees/CA{{x.tx_cmteid}}.html">{{
                                        x.name }}</a>
                                    {%- else -%}
                                    {{ x.name }}
                                    {%- endif -%}
                                </td>
                                <td>{{ x.tx_descr }}</td>
                                <td>{{ x.position }}</td>
                                <td class="currency">{{ x.total }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="mt-5"></div>
        {%- endif %}

    </div>
</div>
<!-- end IEs -->

<div class="container" aria-label="Third-Party Activity">
    <h2 id="third-party-activity-title">
        Third-Party Activity Supporting & Opposing {{ page.candidate_name }}

        <a href="#third-party-activity-title" class="icon-btn ms-2" aria-label="Share Link">
            <i class="fa-regular fa-link" aria-hidden="true"></i>
        </a>
    </h2>

    <!-- Third-Party Funds (card wrapper) -->
    <section class="card border-0 box-shadow-thirdparty rounded-4 mb-4" aria-labelledby="third-party-activity-title">
        <div class="card-body">
            <div class="row g-4">
                <!-- Totals: Support -->
                <div class="col-md-6">
                    {%- assign tsf = 'None' -%}
                    {%- unless page.third_party[0][0]=='' %}{% assign tsf = page.third_party[0][0] %}{% endunless -%}
                    {%- assign tse = 'None' -%}
                    {%- unless page.third_party[0][1]=='' %}{% assign tse = page.third_party[0][1] %}{% endunless -%}
                    {%- include cards-two.html
                    title='Total Supportive Activity'
                    first_title='Contributions'
                    first_text=tsf
                    second_title='Spending'
                    second_text=tse
                    -%}
                </div>

                <!-- Totals: Oppose -->
                <div class="col-md-6">
                    {%- assign tof = 'None' -%}
                    {%- unless page.third_party[1][0]=='' %}{% assign tof = page.third_party[1][0] %}{% endunless -%}
                    {%- assign toe = 'None' -%}
                    {%- unless page.third_party[1][1]=='' %}{% assign toe = page.third_party[1][1] %}{% endunless -%}
                    {%- include cards-two.html
                    title='Total Opposing Activity'
                    first_title='Contributions'
                    first_text=tof
                    second_title='Spending'
                    second_text=toe
                    -%}
                </div>
            </div>

            <!-- Third-Party Committees -->
            <div class="row mt-4">
                <div class="col-12">
                    <div class="col-table-12">
                        <h3 id="third-party-committees" class="hover-link">
                            Third-Party Committees
                            <a class="icon link-subtle" href="#third-party-committees" aria-label="Share Link">
                                <i class="fs-5 fa-regular fa-link" aria-hidden="true"></i>
                            </a>
                        </h3>

                        {% if page.third_party[3] == empty %}
                        <div>No third-party committee activity reported</div>
                        {% else %}
                        <table id="third_party_table" class="table caption-top ie_committee mb-0">
                            <thead>
                                <tr>
                                    <th scope="col">Committee</th>
                                    <th scope="col">Position</th>
                                    <th scope="col">Funds</th>
                                    <th scope="col">Spending</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for committee in page.third_party[3] %}
                                <tr>
                                    <td>
                                        <a
                                            href="{{site.baseurl}}/elections/{{page.election}}/committees/CA{{committee[1]}}">
                                            {{ committee[0] }}
                                        </a>
                                    </td>
                                    <td>{{ committee[2] }}</td>
                                    <td>{{ committee[3] }}</td>
                                    <td>{{ committee[4] }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div><!-- /.card-body -->
    </section><!-- /.card -->
</div><!-- /.container -->
{{ content }}
{%- include disclosure-statements.html
filings=page.filings
-%}