---
layout: default
electionnav: true
---
{%- assign ie_supporters = false -%}
{%- assign ie_opposition = false -%}

{%- for candidate in page.ie_candidates -%}
{%- for committee in candidate.committees -%}
{%- if committee.position == 'SUPPORT' -%}
{%- assign ie_supporters = true -%}
{%- endif -%}
{%- if committee.position == 'OPPOSE' -%}
{%- assign ie_opposition = true -%}
{%- endif -%}
{%- endfor -%}
{%- endfor -%}
<div class="border-bottom border-1 border-tertiary-subtle">
    <div class="container">
        <div class="row">
            <div class="d-flex flex-column flex-md-row align-items-md-center justify-content-between gap-3 mb-3 mt-3">
                <div>
                    <h1 class="mb-1">{{page.title}}</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container my-4" aria-label="Election Summary Cards">
    <div class="row g-4">
            <h2>Summary Totals</h2>
        <div class="col-lg-6 h-100">
            <div class="card border-0 box-shadow-tertiary rounded-4 h-100">
                <div class="card-header custom-card-header">
                    <h3 id="candidate-committees" class="hover-link mb-0">
                        <span>Total Funds & Expenses by Candidate</span>
                        <button type="button" class="icon-btn ms-2" data-bs-toggle="offcanvas"
                            data-bs-target="#candidate-committeesTT" aria-label="About Candidate Controlled Committees">
                            <i class="fa-regular fa-circle-info"></i>
                        </button>
                        <a href="#candidate-committees" class="icon-btn ms-2" aria-label="Share Link">
                            <i class="fa-regular fa-link"></i>
                        </a>
                    </h3>
                </div>

                <div class="card-body p-3 p-sm-4">
                    <table class="table caption-top dtify_both candidate_controlled">
                        <thead class="table-light">
                            <tr>
                                <th class="text-uppercase small">Candidates</th>
                                <th class="text-uppercase small">Funds</th>
                                <th class="text-uppercase small text-end">Expenses</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for candidate in page.candidates %}
                            <tr>
                                <td class="fw-medium">
                                    <a
                                        href="{{site.baseurl}}/elections/{{page.election}}/committees/CA{{candidate.filer_id}}.html">
                                        {{ candidate.candidate_name }}
                                    </a>
                                </td>
                                <td class="fw-medium">{{ candidate.funds }}</td>
                                <td class="text-end fw-semibold">{{ candidate.expenses }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <th class="text-end">Total:</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-6 h-100">
            {% include contributors-table.html title='Top Ten Contributors Within This Contest' subtitle='Across all
            Candidates and Including Primarily Formed 3rd-Party Committees' contributors=page.contributors
            div_class='col-table-6' %}
        </div>
    </div>
    {%- if page.ie_candidates -%}
    <div class="row g-4 mt-4" id="ie-activity">
            <h2>Third Party Activity Supporting &amp; Opposing Candidates for {{page.title}}</h2>
        <div class="col-lg-6 h-100">
            <div class="card border-0 box-shadow-thirdparty rounded-4 h-100">
                <div class="card-header custom-card-header">
                    <h3 id="ie-support" class="hover-link mb-0">
                        <span>Total Third Party Support</span>
                        <button type="button" class="icon-btn ms-2" data-bs-toggle="offcanvas"
                            data-bs-target="#ie-supportTT" aria-label="About Third Party Support">
                            <i class="fa-regular fa-circle-info"></i>
                        </button>
                        <a href="#ie-support" class="icon-btn ms-2" aria-label="Share Link">
                            <i class="fa-regular fa-link"></i>
                        </a>
                    </h3>
                </div>

                <div class="card-body p-3 p-sm-4">
                    {%- if ie_supporters -%}
                    <table class="table caption-top dtify_both ie_committee">
                        <thead class="table-light">
                            <tr>
                                <th class="text-uppercase small">Candidates</th>
                                <th class="text-uppercase small">Funds</th>
                                <th class="text-uppercase small text-end">Spending</th>
                            </tr>
                        </thead>
                        <tbody>
                            {%- for candidate in page.ie_candidates -%}
                            {%- assign funds = 0 -%}
                            {%- assign expenses = 0 -%}
                            {%- for committee in candidate.committees -%}
                            {%- if committee.position == 'SUPPORT' -%}
                            {%- assign funds = funds | plus: committee.funds -%}
                            {%- assign expenses = expenses | plus: committee.expenses -%}
                            {%- endif -%}
                            {%- endfor -%}
                            {%- if funds > 0 or expenses > 0 -%}
                            <tr>
                                <td class="fw-medium">
                                    <a
                                        href="{{site.baseurl}}/elections/{{page.election}}/committees/CA{{candidate.filer_id}}.html">
                                        {{ candidate.candidate_name }}
                                    </a>
                                </td>
                                <td class="fw-medium">{{ funds }}</td>
                                <td class="text-end fw-semibold">{{ expenses }}</td>
                            </tr>
                            {%- endif -%}
                            {%- endfor -%}
                        </tbody>
                        <tfoot>
                            <tr>
                                <th class="text-end">Total:</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </tfoot>
                    </table>
                    {%- else -%}
                    <p class="mb-0">No third party supportive activity has been reported.</p>
                    {%- endif -%}
                </div>
            </div>
        </div>
        <div class="col-lg-6 h-100">
            <div class="card border-0 box-shadow-thirdparty rounded-4 h-100">
                <div class="card-header custom-card-header">
                    <h3 id="ie-oppose" class="hover-link mb-0">
                        <span>Total Third Party Opposition</span>
                        <button type="button" class="icon-btn ms-2" data-bs-toggle="offcanvas"
                            data-bs-target="#ie-opposeTT" aria-label="About Third Party Opposition">
                            <i class="fa-regular fa-circle-info"></i>
                        </button>
                        <a href="#ie-oppose" class="icon-btn ms-2" aria-label="Share Link">
                            <i class="fa-regular fa-link"></i>
                        </a>
                    </h3>
                </div>

                <div class="card-body p-3 p-sm-4">
                    {%- if ie_opposition -%}
                    <table class="table caption-top dtify_both ie_committee">
                        <thead class="table-light">
                            <tr>
                                <th class="text-uppercase small">Candidates</th>
                                <th class="text-uppercase small">Funds</th>
                                <th class="text-uppercase small text-end">Spending</th>
                            </tr>
                        </thead>
                        <tbody>
                            {%- for candidate in page.ie_candidates -%}
                            {%- assign funds = 0 -%}
                            {%- assign expenses = 0 -%}
                            {%- for committee in candidate.committees -%}
                            {%- if committee.position == 'OPPOSE' -%}
                            {%- assign funds = funds | plus: committee.funds -%}
                            {%- assign expenses = expenses | plus: committee.expenses -%}
                            {%- endif -%}
                            {%- endfor -%}
                            {%- if funds > 0 or expenses > 0 -%}
                            <tr>
                                <td class="fw-medium">
                                    <a
                                        href="{{site.baseurl}}/elections/{{page.election}}/committees/CA{{candidate.filer_id}}.html">
                                        {{ candidate.candidate_name }}
                                    </a>
                                </td>
                                <td class="fw-medium">{{ funds }}</td>
                                <td class="text-end fw-semibold">{{ expenses }}</td>
                            </tr>
                            {%- endif -%}
                            {%- endfor -%}
                        </tbody>
                        <tfoot>
                            <tr>
                                <th class="text-end">Total:</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </tfoot>
                    </table>
                    {%- else -%}
                    <p class="mb-0">No third party opposition activity has been reported.</p>
                    {%- endif -%}
                </div>
            </div>
        </div>
    </div>
    <div class="row g-4 mt-4">
        <div class="col-12 h-100">
            <div class="card border-0 box-shadow-thirdparty rounded-4 h-100">
                <div class="card-header custom-card-header">
                    <h3 id="ie-committees" class="hover-link mb-0">
                        <span>Independent Expenditure Committees Funds &amp; Spending</span>
                        <button type="button" class="icon-btn ms-2" data-bs-toggle="offcanvas"
                            data-bs-target="#ie-committeesTT" aria-label="About Independent Expenditure Committees">
                            <i class="fa-regular fa-circle-info"></i>
                        </button>
                        <a href="#ie-committees" class="icon-btn ms-2" aria-label="Share Link">
                            <i class="fa-regular fa-link"></i>
                        </a>
                    </h3>
                </div>

                <div class="card-body p-3 p-sm-4">
                    <table class="table caption-top dtify_both all_ie_committees">
                        <thead class="table-light">
                            <tr>
                                <th class="text-uppercase small">Committee</th>
                                <th class="text-uppercase small">Candidate</th>
                                <th class="text-uppercase small">Position</th>
                                <th class="text-uppercase small">Funds</th>
                                <th class="text-uppercase small text-end">Spending</th>
                            </tr>
                        </thead>
                        <tbody>
                            {%- for candidate in page.ie_candidates -%}
                            {%- for committee in candidate.committees -%}
                            <tr>
                                <td class="fw-medium">
                                    <a
                                        href="{{site.baseurl}}/elections/{{page.election}}/committees/CA{{committee.filer_id}}.html">
                                        {{ committee.committee_name }}
                                    </a>
                                </td>
                                <td class="fw-medium">
                                    <a
                                        href="{{site.baseurl}}/elections/{{page.election}}/committees/CA{{candidate.filer_id}}.html">
                                        {{ candidate.candidate_name }}
                                    </a>
                                </td>
                                <td class="fw-medium">{{ committee.position }}</td>
                                <td class="fw-medium">{{ committee.funds }}</td>
                                <td class="text-end fw-semibold">{{ committee.expenses }}</td>
                            </tr>
                            {%- endfor -%}
                            {%- endfor -%}
                        </tbody>
                        <tfoot>
                            <tr>
                                <th></th>
                                <th></th>
                                <th class="text-end">Total:</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {%- endif -%}
</div>


<script>
    let layoutOptions = {
        topStart: null,
        topEnd: null,
        bottomStart: null,
        bottomEnd: null,
    }
    new DataTable('table.candidate_controlled', {
        lengthChange: false,
        displayLength: -1,
        layout: layoutOptions,
        columnDefs: [{
            targets: [1, 2],
            render: function (data, type, row, meta) {
                if (type === 'display') {
                    return formatAsCurrency(data);
                }
                return data
            }
        },
        ],
        footerCallback: function (row, data, start, end, display) {
            let api = this.api();

            // Total over all pages
            totalExp = api
                .column(2)
                .data()
                .reduce(sumAsNum, 0);
            totalCon = api
                .column(1)
                .data()
                .reduce(sumAsNum, 0);

            // Update footer
            api.column(2).footer().innerHTML =
                formatAsCurrency(totalExp);
            api.column(1).footer().innerHTML =
                formatAsCurrency(totalCon);
        },
    });

    new DataTable('table.ie_committee', {
        displayLength: -1,
        responsive: true,
        layout: layoutOptions,
        lengthChange: false,
        columnDefs: [{
            targets: [1, 2],
            render: function (data, type, row, meta) {
                if (type === 'display') {
                    return formatAsCurrency(data);
                }
                return data
            }
        },
        ],
        footerCallback: function (row, data, start, end, display) {
            let api = this.api();

            // Total over all pages
            totalExp = api
                .column(2)
                .data()
                .reduce(sumAsNum, 0);

            // Update footer
            api.column(2).footer().innerHTML =
                formatAsCurrency(totalExp);
        },
    });

    new DataTable('table.all_ie_committees', {
        displayLength: -1,
        responsive: true,
        layout: layoutOptions,
        lengthChange: false,
        columnDefs: [{
            targets: [3, 4],
            render: function (data, type, row, meta) {
                if (type === 'display') {
                    return formatAsCurrency(data);
                }
                return data
            }
        },
        ],
        footerCallback: function (row, data, start, end, display) {
            let api = this.api();

            // Total over all pages
            totalExp = api
                .column(4)
                .data()
                .reduce(sumAsNum, 0);

            // Update footer
            api.column(4).footer().innerHTML =
                formatAsCurrency(totalExp);
        },
    });


</script>