---
layout: default
electionnav: true
---
{%- assign opposition = false -%}
{%- assign supporters = false -%}
{%- assign multiposition = false -%}

{%- assign support_funds = 0 -%}
{%- assign support_expenses = 0 -%}
{%- assign oppose_funds = 0 -%}
{%- assign oppose_expenses = 0 -%}
{%- assign multi_funds = 0 -%}
{%- assign multi_expenses = 0 -%}

{%- for committee in page.committees -%}
    {%- if committee.position == 'SUPPORT' -%}
    {%- assign supporters = true -%}
    {%- assign support_funds = support_funds | plus: committee.funds -%}
    {%- assign support_expenses = support_expenses | plus: committee.expenses -%}
    {%- endif -%}
    {%- if committee.position == 'OPPOSE' -%}
    {%- assign opposition = true -%}
    {%- assign oppose_funds = oppose_funds | plus: committee.funds -%}
    {%- assign oppose_expenses = oppose_expenses | plus: committee.expenses -%}
    {%- endif -%}
    {%- if committee.position == 'MULTIPLE' -%}
    {%- assign multiposition = true -%}
    {%- assign multi_funds = multi_funds | plus: committee.funds -%}
    {%- assign multi_expenses = multi_expenses | plus: committee.expenses -%}
    {%- endif -%}
{%- endfor -%}

{%- if page.multi_committees and page.multi_committees != empty -%}
    {%- for committee in page.multi_committees -%}
    {%- assign multi_funds = multi_funds | plus: committee.funds -%}
    {%- assign multi_expenses = multi_expenses | plus: committee.expenses -%}
    {%- endfor -%}
    {%- assign multiposition = true -%}
{%- endif -%}

<div class="border-bottom border-1 border-tertiary-subtle bg-septenary">
  <div class="container-md">
    <div class="row">
      <div class="d-flex flex-column flex-md-row align-items-md-center justify-content-between gap-3 mb-3 mt-3">
        <div class="flex-grow-1">
          <h1 class="mb-1">{{ page.title }}</h1>
        </div>

        <div class="d-flex gap-2 flex-shrink-0">
          {% include share.html btn_class="btn-outline-primary" %}
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Cards: Contributions & Expenses -->
<div class="container my-4" aria-label="Summary Totals">
    <div class="row g-4">
        <h2 class="mb-0">Summary Totals</h2>
        <!-- Totals for Measures -->
        <div class="col-12 col-lg-6">
            {%- assign tsf = 'None' -%}
            {%- if support_funds>0 %}{% assign tsf = support_funds %}{% endif -%}
            {%- assign tse = 'None' -%}
            {%- if support_expenses>0 %}{% assign tse = support_expenses %}{% endif -%}

            {% if supporters == true %}
            {%- include cards-two.html
            wrap_css=''
            title='Totals Supporting this Measure'
            first_title='Funds'
            first_text=tsf
            second_title='Expenses'
            second_text=tse
            first_card_body_class='no-round'
            second_card_body_class='no-round'
            -%}
            {% endif %}

            {%- assign tof = 'None' -%}
            {%- if oppose_funds>0 %}{% assign tof = oppose_funds %}{% endif -%}
            {%- assign toe = 'None' -%}
            {%- if oppose_expenses>0 %}{% assign toe = oppose_expenses %}{% endif -%}

            {% if supporters == true %}
            {%- include cards-two.html
            wrap_css=''
            title='Totals Opposing this Measure'
            first_title='Funds'
            first_text=tof
            second_title='Expenses'
            second_text=toe
            first_card_body_class='no-round'
            second_card_body_class='no-round'
            -%}
            {% endif %}

            {%- assign tmf = 'None' -%}
            {%- if multi_funds>0 %}{% assign tmf = multi_funds %}{% endif -%}
            {%- assign tme = 'None' -%}
            {%- if multi_expenses>0 %}{% assign tme = multi_expenses %}{% endif -%}

            {% if multiposition == true %}
            {%- include cards-two.html
            wrap_css=''
            title='Totals from Committees with Multiple Positions'
            first_title='Funds'
            first_text=tmf
            second_title='Expenses'
            second_text=tme
            first_card_body_class='no-round'
            second_card_body_class='no-round'
            -%}
            {% endif %}
        </div>
        <div class="col-12 col-lg-6 py-2">
            {%- if page.contributors -%}
            {% include contributors-table.html title='Top 10 Contributors To This Measure'
            contributors=page.contributors link="bmc" %}
            {%- endif -%}
        </div>
    </div>
</div>
<div class="container my-5" aria-label="Campaign finance summary">
    <!-- Section heading -->
    <div class="row g-4">
        <h2 class="mb-4">Committee Details</h2>
    </div>

    <!-- Active Committees card -->
    <div class="row g-4">
        <div class="col-12">
            <div class="card border-0 shadow-sm rounded-4 h-100">
               <div class="card-header custom-card-header d-flex justify-content-between align-items-start">
  <h3 id="allcommittees-table" class="hover-link mb-0">
    <span>Funds and Expenses by Active Committees</span>
  </h3>

  <div class="dropdown">
    <button
      class="icon-btn"
      data-bs-toggle="dropdown"
      aria-label="Card actions">
      <i class="fa-solid fa-ellipsis-vertical"></i>
    </button>

    <ul class="dropdown-menu dropdown-menu-end">
      <li>
        <button
          type="button"
          class="dropdown-item"
          data-bs-toggle="offcanvas"
          data-bs-target="#ballot-measure-activesTT">
          About this data
        </button>
      </li>
      <li>
        <a
          class="dropdown-item copy-anchor"
          href="#allcommittees-table">
          Copy link
        </a>
      </li>
    </ul>
  </div>
</div>

                <div class="card-body">
                    <table class="table caption-top dtify-bmc mb-0" id="allcommittees_table">
                        <thead>
                            <tr>
                                <th scope="col" data-priority="1">Committee</th>
                                <th scope="col" data-priority="10101">Position</th>
                                <th scope="col" data-priority="2">Funds</th>
                                <th scope="col" data-priority="3">Expenses</th>
                            </tr>
                        </thead>
                        <tbody>
                            {%- for committee in page.committees -%}
                            <tr>
                                <td>
                                    {% if committee.filer_id == 'unknown' %}
                                        {{ committee.committee_name }}
                                    {%- else -%}
                                    <a
                                        href="{{site.baseurl}}/elections/{{page.election}}/committees/CA{{committee.filer_id}}">
                                        {{ committee.committee_name }}
                                    </a>
                                    {%- endif -%}
                                </td>
                                <td>{{ committee.position }}</td>
                                <td>{{ committee.funds }}</td>
                                <td>{{ committee.expenses }}</td>
                            </tr>
                            {%- endfor -%}
                        </tbody>
                        <tfoot>
                            <tr>
                                <th class="text-end" colspan="3" scope="row">Total:</th>
                                <td class="fw-medium"></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>

    {%- if page.multi_committees and page.multi_committees != empty -%}
    <!-- Spacer between cards, like candidate_committe.html -->
    <div class="mt-5"></div>

    <!-- Committees Active in Multiple Measures card -->
    <div class="row g-4">
        <div class="col-12">
            <div class="card border-0 shadow-sm rounded-4 h-100">
                <div class="card-header custom-card-header d-flex justify-content-between align-items-start">
  <h3 id="multicommittees-table" class="hover-link mb-0">
    <span>Committees Active in Multiple Measures</span>
  </h3>

  <div class="dropdown">
    <button
      class="icon-btn"
      data-bs-toggle="dropdown"
      aria-label="Card actions">
      <i class="fa-solid fa-ellipsis-vertical"></i>
    </button>

    <ul class="dropdown-menu dropdown-menu-end">
      <li>
        <button
          type="button"
          class="dropdown-item"
          data-bs-toggle="offcanvas"
          data-bs-target="#ballot-measure-multicommitteesTT">
          About this data
        </button>
      </li>
      <li>
        <a
          class="dropdown-item copy-anchor"
          href="#multicommittees-table">
          Copy link
        </a>
      </li>
    </ul>
  </div>
</div>
                <div class="card-body">
                    <table class="table caption-top dtify-bmc mb-0" id="multicommittees_table">
                        <thead>
                            <tr>
                                <th scope="col" data-priority="1">Committee</th>
                                <th scope="col" data-priority="10101">Position</th>
                                <th scope="col" data-priority="2">Funds</th>
                                <th scope="col" data-priority="3">Spending</th>
                            </tr>
                        </thead>

                        <tbody>
                            {%- for committee in page.multi_committees -%}
                            <tr>
                                <td>
                                    <a
                                        href="{{site.baseurl}}/elections/{{page.election}}/committees/CA{{committee.filer_id}}">
                                        {{ committee.committee_name }}
                                    </a>
                                </td>
                                <td>{{ committee.position }}</td>
                                <td>{{ committee.funds }}</td>
                                <td>{{ committee.expenses }}</td>
                            </tr>
                            {%- endfor -%}
                        </tbody>
                        <tfoot>
                            <tr>
                               <th class="text-end" colspan="3" scope="row">Total:</th>
                                <td class="fw-medium"></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {%- endif -%}
</div>
