---
layout: default
electionnav: true
---
<div class="border-bottom border-1 border-tertiary-subtle">
    <div class="container">
        <div class="row">
            <div class="d-flex flex-column flex-md-row align-items-md-center justify-content-between gap-3 mb-3 mt-3">
                <div class="flex-grow-1">
                    <h1 class="mb-1">{{ page.title }}</h1>
                </div>

                <div class="d-flex gap-2 flex-shrink-0">
                    {% include share.html btn_class="btn-outline-contributions" %}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container my-4">
    <div class="accordion accordion-flush border border-dark" id="accordion">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    About the contributors table
                </button>
            </h2>

            <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordion">
                <div class="accordion-body">
                    <p>The table below lists contributors to San Francisco committees involved in the <span
                            class="formatted-date">{{ page.election }}</span> election who have given
                        ${{page.threshold}} or more
                        in total across all primarily-formed and candidate-controlled committees in the current election
                        cycle. Contributors are grouped by first
                        and last name so you can view all of their reported contributions together.</p>

                    <p>Select the arrow next to a contributor's name to expand their record and view each committee they
                        supported and the amount given.</p>
                    <p><a href="/elections/{{page.election}}/cmte_expenses">View table of top committee expenses.</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row g-4">
        <div class="col-12 py-4 h-100">
            <div class="card border-0 box-shadow-contributions rounded-4 h-100">
                <div class="card-body p-3 p-sm-4">
                    <table class="table caption-top dtify table-striped">
                        <thead>
                            <tr>
                                <th scope="col">...</th>
                                <th scope="col">Name</th>
                                <th scope="col">Contributor Type</th>
                                <th scope="col">Amount</th>
                                <th scope="col">Contribution Breakdown</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for contributor in page.contributors %}
                            <tr>
                                <td></td>
                                <td>
                                    {%- if contributor.tx_cmteid != '' -%}
                                    <a
                                        href="{{site.baseurl}}/elections/{{page.election}}/committees/CA{{contributor.tx_cmteid}}.html">
                                        {{ contributor.tx_firstname }} {{ contributor.tx_lastname | truncate: 65 }}
                                    </a>
                                    {%- else -%}
                                    {{ contributor.tx_firstname }} {{ contributor.tx_lastname | truncate: 65 }}
                                    {%- endif -%}
                                </td>
                                <td>
                                    {{ contributor.tx_entitycode }}
                                </td>
                                <td>{{ contributor.tx_amount }}</td>
                                <td>
                                    <table class="table table-sm">
                                        <tbody>
                                            {% for cmte in contributor.transactions %}
                                            <tr>
                                                <td>
                                                    <a
                                                        href="{{site.baseurl}}/elections/{{page.election}}/committees/CA{{cmte.cmte_fppcid}}.html">
                                                        {{ cmte.cmte_name | truncate: 65 }}
                                                    </a>
                                                </td>
                                                <td class="currency table-text-right">{{ cmte.tx_amount }}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                </div>

            </div>
        </div>
    </div>
</div>