---
layout: default
electionnav: true
---
<div class="border-bottom border-1 border-tertiary-subtle">
  <div class="container">
    <div class="row">
      <div class="d-flex flex-column flex-md-row align-items-md-center justify-content-between gap-3 mb-3 mt-3">
        <div class="flex-grow-1">
          <h1 class="mb-1">{{ page.title }}</h1>
        </div>

        <div class="d-flex gap-2 flex-shrink-0">
          {% include share.html btn_class="btn-outline-contributions" %}
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container my-4">
    <div class="row g-4">
        <div class="col-lg-12 h-100">
            <div class="card border-0 shadow-sm rounded-4 h-100">
                <div class="card-body p-3 p-sm-4">
                    <p>This tool lists contributors to San Francisco committees involved in the <span
                            class="formatted-date">{{ page.election }}</span> election who have given more than $5,000
                        in total across all primarily-formed and candidate-controlled committees in the current election cycle. Contributors are grouped by first
                        and last name so you can view all of their reported contributions together.</p>

                    <p>Select the arrow next to a contributor’s name to expand their record and view each committee they
                        supported and the amount given.</p>
                    {{content}}
                </div>
            </div>
        </div>
    </div>
    <div class="row g-4">
        <div class="col-12 py-4 h-100">
            <div class="card border-0 box-shadow-contributions rounded-4 h-100">
                <div class="card-body p-3 p-sm-4">
                    <table class="table caption-top dtify table-striped">
                        <thead>
                            <tr>
                                <th scope="col">...</th>
                                <th scope="col">Name</th>
                                <th scope="col">Code</th>
                                <th scope="col">Total</th>
                                <th scope="col">Contribution Breakdown</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for contributor in page.contributors %}
                            <tr>
                                <td></td>
                                <td>{{ contributor.tx_firstname }} {{ contributor.tx_lastname | truncate: 65 }}</td>
                                <td>
                                    {%- if contributor.tx_cmteid != '' -%}
                                    <a
                                        href="{{site.baseurl}}/elections/{{page.election}}/committees/CA{{contributor.tx_cmteid}}.html">
                                        {%- endif -%}
                                        {{ contributor.tx_entitycode }}
                                        {%- if contributor.tx_cmteid != '' -%}
                                    </a>
                                    {%- endif -%}
                                </td>
                                <td>{{ contributor.tx_amount }}</td>
                                <td>
                                    <table class="table table-sm">
                                        <tbody>
                                            {% for cmte in contributor.transactions %}
                                            <tr>
                                                <td>
                                                    <a
                                                        href="{{site.baseurl}}/elections/{{page.election}}/committees/CA{{cmte.cmte_fppcid}}.html">
                                                        {{ cmte.cmte_name | truncate: 65 }}
                                                    </a>
                                                </td>
                                                <td class="currency table-text-right">{{ cmte.tx_amount }}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                </div>

            </div>
        </div>
    </div>
</div>
