<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body class="bg-gray">

    {%- include header.html -%}
    
    <main class="page-content" aria-label="Content">
      {%- if layout.electionnav -%}
      <div class="election-nav-wrapper">
        {%- include election-nav.html -%}
      </div>
      {%- endif -%}
      <div class="content-wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}
    {% if page.election %}
      {%- include tooltips.html -%}
      {%- include committees_table.html election=page.election -%}
      <script src="/assets/js/tables_committees_list.js"></script>
    {% endif %}
    <!-- Conditional script loading based on layout type: election, contest_candidate, contest_bmc, contributors, 
     (candidate_committee, committee, major_donor, slate_mailer) -->
    {% if page.layout == "election" %}
      <script src="/assets/js/tables_election.js"></script>
    {% elsif page.layout == "contest_candidate" %}
      <script src="/assets/js/tables_contest_candidate.js"></script>
    {% elsif page.layout == "contest_bmc" %}
      <script src="/assets/js/tables_contest_bmc.js"></script>
    {% elsif page.layout == "contributors" %}
      <script src="/assets/js/tables_contributors.js"></script>
    {% else %}
      <script src="/assets/js/tables_committee.js"></script>
    {% endif %}

  </body>
  
</html>
