---
layout: default
electionnav: true
---
<div class="border-bottom border-1 border-tertiary-subtle">
  <div class="container">
    <div class="row">
      <div class="d-flex flex-column flex-md-row align-items-md-center justify-content-between gap-3 mb-3 mt-3">
        <div class="flex-grow-1">
          <h1 class="mb-1">{{ page.title }}</h1>
        </div>

        <div class="d-flex gap-2 flex-shrink-0">
          {% include share.html btn_class="btn-outline-primary" %}
        </div>
      </div>
    </div>
  </div>
</div>

<!--Save 
<div id="tocOne" class="accordion-collapse collapse" data-bs-parent="#accordionToc">
                        <div class="accordion-body">
                            <ul class="list-group">
                                {%- if page.candidate_pf %}<li class="list-group-item"><a href="#candidate-committees">Candidate Controlled Committees</a></li>{% endif -%}
                                {%- if page.candidate_ie %}<li class="list-group-item"><a href="#candidate-ie-committees">Third Party Candidate Committees</a></li>{% endif -%}
                                {%- if page.measures %}<li class="list-group-item"><a href="#ballot-measure-committees">Ballot Measures</a></li>{% endif -%}
                                {%- if page.contributors %}<li class="list-group-item"><a href="#top-contributors">Top Contributors</a></li>{% endif -%}
                            </ul>
                        </div>
                    -->
<div class="container my-4" aria-label="Election Summary Cards">
    <h2>Elected Offices</h2>
    <div class="row g-4">
        {%- if page.candidate_pf -%}
        <div class="col-lg-6 h-100">
            <div class="card border-0 box-shadow-tertiary rounded-4 h-100">
                <div class="card-header custom-card-header">
                    <h3 id="candidate-committees" class="hover-link mb-0">
                        <span>Total Candidate-Controlled Committee Funds &amp; Expenses by Office</span>
                        <button type="button" class="icon-btn ms-2" data-bs-toggle="offcanvas"
                            data-bs-target="#candidate-committeesTT" aria-label="About Candidate Controlled Committees">
                            <i class="fa-regular fa-circle-info"></i>
                        </button>
                        <a href="#candidate-committees" class="icon-btn ms-2" aria-label="Share Link">
                            <i class="fa-regular fa-link"></i>
                        </a>
                    </h3>
                </div>
                <div class="card-body p-3 p-sm-4">
                    <table id="table_candidate" class="table caption-top dtify_both">
                        <thead class="table-light">
                            <tr>
                                <th class="text-uppercase small">Contest</th>
                                <th class="text-uppercase small">Funds</th>
                                <th class="text-uppercase small text-end">Expenses</th>
                            </tr>
                        </thead>
                        <tbody>
                            {%- for contest in page.candidate_pf -%}
                            <tr>
                                <td class="fw-medium">
                                    <a
                                        href="{{site.baseurl}}/elections/{{page.election}}/contests/{{contest.contest_link}}.html">
                                        {{ contest.contest_name }}
                                    </a>
                                </td>
                                <td class="fw-medium">{{ contest.funds }}</td>
                                <td class="text-end fw-semibold">{{ contest.expenses }}</td>
                            </tr>
                            {%- endfor -%}
                        </tbody>
                        <tfoot>
                            <tr>
                                <th class="text-end">Total:</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>

        {%- endif -%}
        {%- if page.candidate_ie -%}
        <div class="col-lg-6 h-100">
            <div class="card border-0 box-shadow-thirdparty rounded-4 h-100">
                <div class="card-header custom-card-header">
                    <h3 id="candidate-ie-committees" class="hover-link mb-0">
                        <span>Total Third-Party Committee Funds &amp; Expenses by Office</span>

                        <button type="button" class="icon-btn ms-2" data-bs-toggle="offcanvas"
                            data-bs-target="#candidate-ie-committeesTT"
                            aria-label="About Third Party Spending by Office">
                            <i class="fa-regular fa-circle-info"></i>
                        </button>

                        <a href="#candidate-ie-committees" class="icon-btn ms-2" aria-label="Share Link">
                            <i class="fa-regular fa-link" aria-hidden="true"></i>
                        </a>
                    </h3>
                </div>


                <div class="card-body p-3 p-sm-4">
                    <table id="table_candidate_thirdparty" class="table caption-top dtify_exp">
                        <thead class="table-light">
                            <tr>
                                <th class="text-uppercase small">Contest</th>
                                <th class="text-uppercase small">Funds</th>
                                <th class="text-uppercase small text-end">Expenses</th>
                            </tr>
                        </thead>
                        <tbody>
                            {%- for contest in page.candidate_ie -%}
                            <tr>
                                <td class="fw-medium">
                                    <a
                                        href="{{site.baseurl}}/elections/{{page.election}}/contests/{{contest.contest_link}}.html">
                                        {{ contest.contest_name }}
                                    </a>
                                </td>
                                <td class="fw-medium">{{ contest.funds }}</td>
                                <td class="text-end fw-semibold">{{ contest.expenses }}</td>
                            </tr>
                            {%- endfor -%}
                        </tbody>
                        <tfoot>
                            <tr>
                                <th class="text-end" colspan="2">Total:</th>
                                <th></th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>

        {%- endif -%}

        {%- if page.measures -%}
        <div class="col-lg-12 h-100">
                <h2>Ballot Measures</h2>
            <div class="card border-0 box-shadow-primary rounded-4 h-100">
                <div class="card-header custom-card-header">
                    <h3 id="ballot-measure-committees" class="hover-link mb-0">
                        <span>Total Committee Funds & Expenses for Ballot Measures</span>

                        <button type="button" class="icon-btn ms-2" data-bs-toggle="offcanvas"
                            data-bs-target="#ballot-measure-committeesTT" aria-label="About Ballot Measures">
                            <i class="fa-regular fa-circle-info"></i>
                        </button>

                        <a href="#ballot-measure-committees" class="icon-btn ms-2" aria-label="Share Link">
                            <i class="fa-regular fa-link" aria-hidden="true"></i>
                        </a>

                    </h3>
                </div>


                <div class="card-body p-3 p-sm-4">
                    <table id="table_ballotmeasure" class="table caption-top dtify_exp">
                        <thead class="table-light">
                            <tr>
                                <th class="text-uppercase small">Contest</th>
                                <th class="text-uppercase small">Funds</th>
                                <th class="text-uppercase small text-end">Expenses</th>
                            </tr>
                        </thead>
                        <tbody>
                            {%- for contest in page.measures -%}
                            <tr>
                                <td class="fw-medium">
                                    <a
                                        href="{{site.baseurl}}/elections/{{page.election}}/measures/{{contest.contest_link}}.html">
                                        {{ contest.contest_name }}
                                    </a>
                                </td>
                                <td class="fw-medium">{{ contest.funds }}</td>
                                <td class="text-end fw-semibold">{{ contest.expenses }}</td>
                            </tr>
                            {%- endfor -%}
                        </tbody>
                        <tfoot>
                            <tr>
                                <th class="text-end" colspan="2">Total:</th>
                                <th></th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>

        {%- endif -%}
        <div>
        <h2>Top Contributors</h2>
        <a href="{{site.baseurl}}/elections/{{page.election}}/contributors">
                <button class="btn btn-primary" type="button">View all contributors</button>
            </a>
        </div>
        {%- if page.contributors_cand -%}
        <div class="col-lg-6 h-100">
            {% include contributors-table.html
            title='Top 5 Contributors Across Candidate Contests'
            subtitle='Contributions made to Primarily Formed Committees within this Election'
            contributors=page.contributors_cand
            %}
        </div>
        {%- endif -%}
        {%- if page.contributors_bm -%}
        <div class="col-lg-6 h-100">
            {% include contributors-table.html
            title='Top 5 Contributors Across Ballot Measures'
            subtitle='Contributions made to Ballot Measure Committees within this Election'
            contributors=page.contributors_bm
            %}
        </div>
        {%- endif -%}
    </div>

    {{content}}
</div>
